<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Giao đồ ăn của bạn nhanh chóng khi còn nóng">
    <meta name="keywords" content="ăn,nóng,giao nhanh">
    <!--font-family-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- title of site -->
    <title>TPFood</title>
    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="~/temp/logo/favicon.png" />
    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="~/temp/css/font-awesome.min.css">
    <!--linear icon css-->
    <link rel="stylesheet" href="~/temp/css/linearicons.css">
    <!--animate.css-->
    <link rel="stylesheet" href="~/temp/css/animate.css">
    <!--flaticon.css-->
    <link rel="stylesheet" href="~/temp/css/flaticon.css">
    <!--slick.css-->
    <link rel="stylesheet" href="~/temp/css/slick.css">
    <link rel="stylesheet" href="~/temp/css/slick-theme.css">
    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="~/temp/css/bootstrap.min.css">
    <!-- bootsnav -->
    <link rel="stylesheet" href="~/temp/css/bootsnav.css">
    <!--style.css-->
    <link rel="stylesheet" href="~/temp/css/style.css">
    <!--responsive.css-->
    <link rel="stylesheet" href="~/temp/css/responsive.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!--header-top start -->
    <header id="header-top" class="header-top">
        <ul>
            <li>
                <div class="header-top-left">
                    <ul>
                        <li class="select-opt">
                            <select name="language" id="Ngôn ngữ">
                                <option value="default">VN</option>
                                <option value="Bangla">EN</option>
                            </select>
                        </li>
                        <li class="select-opt">
                            <select name="currency" id="Tiền tệ">
                                <option value="usd">USD</option>
                                <option value="euro">Euro</option>
                                <option value="bdt">VND</option>
                            </select>
                        </li>
                        <li class="select-opt">
                            <a href="#"><span class="lnr lnr-magnifier"></span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="head-responsive-right pull-right">
                <div class="header-top-right">
                    <ul>
                        <li class="header-top-contact">
                            +1 222 777 6565
                        </li>
                        <li class="header-top-contact">
                            <a href="#">Đăng nhập</a>
                        </li>
                        <li class="header-top-contact">
                            <a href="#">Đăng kí</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </header><!--/.header-top-->
    <!--header-top end -->
    <!-- top-area Start -->
    <section class="top-area">
        <div class="header-area">
            <!-- Start Navigation -->
            <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
                <div class="container">
                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="/Home/index">TP<span>food</span></a>
                    </div><!--/.navbar-header-->
                    <!-- End Header Navigation -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class=" scroll active"><a href="#home">Trang chủ</a></li>
                            <li class="scroll"><a href="#works">Nổi bật </a></li>
                            @*<li class="scroll"><a href="#works">Danh mục</a></li>*@
                            <li class="scroll"><a href="#explore">Thực đơn</a></li>
                            <li class="scroll"><a href="#reviews">Giới Thiệu</a></li>
                            <li class="scroll"><a href="#blog">Gian hàng</a></li>
                            <li class=""><a href="#contact">Thông tin</a></li>
                        </ul><!--/.nav -->
                    </div><!-- /.navbar-collapse -->
                </div><!--/.container-->
            </nav><!--/nav-->
            <!-- End Navigation -->
        </div><!--/.header-area-->
        <div class="clearfix"></div>
    </section><!-- /.top-area-->
    <!-- top-area End -->
    <!--welcome-hero start -->
    <section id="home" class="welcome-hero">
        <div class="container">
            <div class="welcome-hero-txt">
                <h2>Nơi thoả mãn đam mê ăn uống của bạn <br> Ngay tại nhà </h2>
                <p>
                    Tất cả chỉ với một cú nhấp chuột
                </p>
            </div>
            <div class="welcome-hero-serch-box">
                <div class="welcome-hero-form">
                    <div class="single-welcome-hero-form">
                        <h3>Hôm nay ăn gì đây?</h3>
                        <form action="index.html">
                            <input type="text" placeholder="Phở, Hamburger, Panacotta,... " />
                        </form>
                        <div class="welcome-hero-form-icon">
                            <i class="flaticon-list-with-dots"></i>
                        </div>
                    </div>
                    <div class="single-welcome-hero-form">
                        <h3>Ăn đâu đây?</h3>
                        <form action="index.html">
                            <input type="text" placeholder="Tp HCM, Hà Nôi, Huế,..." />
                        </form>
                        <div class="welcome-hero-form-icon">
                            <i class="flaticon-gps-fixed-indicator"></i>
                        </div>
                    </div>
                </div>
                <div class="welcome-hero-serch">
                    <button class="welcome-hero-btn" onclick="window.location.href='#'">
                      TÌM <i data-feather="search"></i>
                    </button>
                </div>
            </div>
        </div>
    </section><!--/.welcome-hero-->
    <!--welcome-hero end -->
    <!--list-topics start -->
    <section id="list-topics" class="list-topics">
        <div class="container">
            <div class="list-topics-content">
                <ul>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <img style="max-height:70px;max-width:70px " src="~/temp/img/hot-food.png" alt="Đồ truyền thống"/>
                            </div>
                            <h2><a href="#">Truyền thống</a></h2>
                            <p>150+<p>
                        </div>
                    </li>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <img style="max-height:70px;max-width:70px " src="~/temp/img/fast-food.png" alt="Đồ ăn nhanh" />
                            </div>
                            <h2><a href="#">Đồ ăn nhanh</a></h2>
                            <p>99+</p>
                        </div>
                    </li>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <img style="max-height:70px;max-width:70px " src="~/temp/img/coffee-cup.png" alt="Thức uống"/>
                            </div>
                            <h2><a href="#">thức uống</a></h2>
                            <p>120+</p>
                        </div>
                    </li>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <img style="max-height:70px;max-width:70px " src="~/temp/img/ice-cream.png" alt="Tráng miệng" />
                            </div>
                            <h2><a href="#">Tráng miệng</a></h2>
                            <p>200+</p>
                        </div>
                    </li>
                    <li>
                        <div class="single-list-topics-content">    
                            <div class="single-list-topics-icon">
                                <img style="max-height:70px;max-width:70px " src="~/temp/img/more.png" alt="Thêm món" />
                            </div>
                            <h2><a href="~/mons/Index">Thêm món ngon</a></h2><br />
                        </div>
                    </li>
                </ul>
            </div>
        </div><!--/.container-->
    </section><!--/.list-topics-->
    <!--list-topics end-->
    <!--works start -->
    <section id="works" class="works">
        <div class="container">
            <div class="section-header">
               <br /> <h2>Nổi bật hôm nay</h2>
                @*<p>Nổi bật hôm nay</p>*@
            </div><!--/.section-header-->
            <div class="works-content">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-how-works">
                            <div style="position:center;overflow:hidden;width:100%;height:100%">
                                <img  src="~/temp/img/bboh.jfif" alt="Bún bò"/>
                            </div>
                            <h2><a href="#">Ngại<span> gì  </span> nữa</a></h2>
                            <p>
                                Mưa gió thế này thì 1 muỗng thôi là sướng cả người.
                            </p>
                            <p>Chỉ với 35k</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-how-works">
                            <div style="position:center;overflow:hidden;width:100%;height:100%" >
                                <img  src="~/temp/img/buntn.jfif" alt="Bún thịt nướng" />
                            </div>
                            <h2><a href="#">Ngại <span> dầu mỡ</span></a></h2>
                            <p>
                                Làm ngay 1 phần thanh đạm đổi gió nào.
                            </p>
                            <p>35k thôi</p>
                            @*<button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'"> read more </button>*@
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-how-works">
                            <div style="position:center;overflow:hidden;width:100%;height:100%" >
                                <img src="~/temp/img/comt.jfif" alt="Cơm tấm" />
                            </div>
                            <h2><a href="#">Xua <span> tan</span> cơn đói</a></h2>
                            <p>
                                Chỉ với một cú nhấp chuột là lấp đầy chiếc bụng rỗng.
                            </p>
                            <p>40k là có</p>
                            @*<button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
            read more
        </button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/.works-->
    <!--works end -->
    @RenderBody()
    <!--explore start -->
    <section id="explore" class="explore">
        <div class="container">
            <div class="section-header">
                <h2>Khám phá nào</h2>
                <p>Nay có nhiều món ngon lắm </p>
            </div><!--/.section-header-->
            <div class="explore-content">
                <div class="row">
                    <div class=" col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">
                                <img src="~/temp/images/an/bdmt.jfif" alt="Bún đậu ">
                                <div class="single-explore-img-info">
                                    <button onclick="window.location.href='#'">best rated</button>
                                    <div class="single-explore-image-icon-box">
                                        <ul>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-bookmark-o"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-explore-txt bg-theme-1">
                                <h2><a href="#">Bún đậu mắm tôm</a></h2>
                                <p class="explore-rating-price">
                                    <span class="explore-rating">8.3</span>
                                    <a href="#"> 120 đánh giá</a>
                                    <span class="explore-price-box">
                                        Từ
                                        <span class="explore-price">40k-80k</span>
                                    </span>
                                </p>
                                <div class="explore-person">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="explore-person-img">
                                                <a href="#">
                                                    <img src="~/temp/ca/c4.png" alt="Bún đậu">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <p>
                                                Đậu hủ nóng được chấm cùng vói chén mắm tôm thơm ngậy
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="explore-open-close-part">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <button class="close-btn" onclick="window.location.href='#'">close now</button>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="explore-map-icon">
                                                <a href="#"><i data-feather="map-pin"></i></a>
                                                <a href="#"><i data-feather="upload"></i></a>
                                                <a href="#"><i data-feather="heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">
                                <img src="~/temp/images/an/goi.jfif" alt="gỏi cuốn">
                                <div class="single-explore-img-info">
                                    <button onclick="window.location.href='#'">featured</button>
                                    <div class="single-explore-image-icon-box">
                                        <ul>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-bookmark-o"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-explore-txt bg-theme-2">
                                <h2><a href="#">Gỏi cuốn</a></h2>
                                <p class="explore-rating-price">
                                    <span class="explore-rating">8.0</span>
                                    <a href="#"> 50 đánh giá</a>
                                    <span class="explore-price-box">
                                      Từ
                                        <span class="explore-price">30-45k</span>
                                    </span>
                                </p>
                                <div class="explore-person">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="explore-person-img">
                                                <a href="#">
                                                    <img src="~/temp/ca/c2.jpg" alt="Ảnh shop">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <p>
                                               Ăn nhiều rau cho cân bằng bạn ơi
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="explore-open-close-part">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <button class="close-btn open-btn" onclick="window.location.href='#'">open now</button>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="explore-map-icon">
                                                <a href="#"><i data-feather="map-pin"></i></a>
                                                <a href="#"><i data-feather="upload"></i></a>
                                                <a href="#"><i data-feather="heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">
                                <img src="~/temp/images/an/vien.jfif" alt="Cá viên">
                                <div class="single-explore-img-info">
                                    <button onclick="window.location.href='#'">best rated</button>
                                    <div class="single-explore-image-icon-box">
                                        <ul>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-bookmark-o"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-explore-txt bg-theme-3">
                                <h2><a href="#">Viên chiên</a></h2>
                                <p class="explore-rating-price">
                                    <span class="explore-rating">5.0</span>
                                    <a href="#"> 86 đánh giá</a>
                                    <span class="explore-price-box">
                                       Từ
                                        <span class="explore-price">40k-100k</span>
                                    </span>
                                    <a href="#">destination</a>
                                </p>
                                <div class="explore-person">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="explore-person-img">
                                                <a href="#">
                                                    <img src="~/temp/ca/c3.jpg" alt="Ảnh shop">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <p>
                                                Tán dóc thì sao mà thiếu được,tay mà ngưng thì buồn lắm
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="explore-open-close-part">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <button class="close-btn" onclick="window.location.href='#'">close now</button>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="explore-map-icon">
                                                <a href="#"><i data-feather="map-pin"></i></a>
                                                <a href="#"><i data-feather="upload"></i></a>
                                                <a href="#"><i data-feather="heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">
                                <img src="~/temp/images/an/bmf.jpg" alt="Bánh mì">
                                <div class="single-explore-img-info">
                                    <button onclick="window.location.href='#'">most view</button>
                                    <div class="single-explore-image-icon-box">
                                        <ul>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-bookmark-o"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-explore-txt bg-theme-4">
                                <h2><a href="#">Bánh mì</a></h2>
                                <p class="explore-rating-price">
                                    <span class="explore-rating">9.0</span>
                                    <a href="#"> 250 đánh giá</a>
                                    <span class="explore-price-box">
                                        Từ
                                        <span class="explore-price">20k-30k</span>
                                    </span>
                                </p>
                                <div class="explore-person">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="explore-person-img">
                                                <a href="#">
                                                    <img src="~/temp/ca/c1.png" alt="Ảnh shop">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <p>
                                               Nhanh gọn lẹ chờ chi bạn ơi
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="explore-open-close-part">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <button class="close-btn" onclick="window.location.href='#'">close now</button>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="explore-map-icon">
                                                <a href="#"><i data-feather="map-pin"></i></a>
                                                <a href="#"><i data-feather="upload"></i></a>
                                                <a href="#"><i data-feather="heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">
                                <img src="~/temp/images/an/bbao.jfif" alt="Bánh bao">
                                <div class="single-explore-img-info">
                                    <button onclick="window.location.href='#'">featured</button>
                                    <div class="single-explore-image-icon-box">
                                        <ul>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-bookmark-o"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-explore-txt bg-theme-2">
                                <h2><a href="#">Bánh bao</a></h2>
                                <p class="explore-rating-price">
                                    <span class="explore-rating">7.8</span>
                                    <a href="#"> 20 đánh giá</a>
                                    <span class="explore-price-box">
                                       Từ
                                        <span class="explore-price">15k-35k</span>
                                    </span>
                                    <a href="#">automotion</a>
                                </p>
                                <div class="explore-person">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="explore-person-img">
                                                <a href="#">
                                                    <img src="~/temp/ca/c5.jpg" alt="Ảnh shop">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <p>
                                               Vừa ấm áp trên tay mà còn ấm bụng nữa chọn đi tụi mình giao cho
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="explore-open-close-part">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <button class="close-btn open-btn" onclick="window.location.href='#'">open now</button>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="explore-map-icon">
                                                <a href="#"><i data-feather="map-pin"></i></a>
                                                <a href="#"><i data-feather="upload"></i></a>
                                                <a href="#"><i data-feather="heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">
                                <img src="~/temp/images/an/bunch.jfif" alt="bún chả">
                                <div class="single-explore-img-info">
                                    <button onclick="window.location.href='#'">best rated</button>
                                    <div class="single-explore-image-icon-box">
                                        <ul>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-bookmark-o"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-explore-txt bg-theme-5">
                                <h2><a href="#">Bún chả</a></h2>
                                <p class="explore-rating-price">
                                    <span class="explore-rating">8.5</span>
                                    <a href="#"> 150 Đánh giá</a>
                                    <span class="explore-price-box">
                                 Từ
                                        <span class="explore-price">35k-45k</span>
                                    </span>
                                    <a href="#">destination</a>
                                </p>
                                <div class="explore-person">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="explore-person-img">
                                                <a href="#">
                                                    <img src="~/temp/ca/c6.png" alt="Ảnh shop">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <p>
                                                Chút hương thu Hà Nội đang chờ đợi bạn
                                        </div>
                                    </div>
                                </div>
                                <div class="explore-open-close-part">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <button class="close-btn" onclick="window.location.href='#'">close now</button>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="explore-map-icon">
                                                <a href="#"><i data-feather="map-pin"></i></a>
                                                <a href="#"><i data-feather="upload"></i></a>
                                                <a href="#"><i data-feather="heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/.explore-->
    <!--explore end -->
    <!--reviews start -->
    <section id="reviews" class="reviews">
        <div class="section-header">
            <h2>Đánh Giá</h2>
            <p>Khách hàng nghĩ gì về tụi mình nhỉ</p>
        </div><!--/.section-header-->
        <div class="reviews-content">
            <div class="testimonial-carousel">
                <div class="single-testimonial-box">
                    <div class="testimonial-description">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="~/temp/images/clients/c1.png" alt="clients">
                            </div><!--/.testimonial-img-->
                            <div class="testimonial-person">
                                <h2>Tom Linker</h2>
                                <h4>london, UK</h4>
                                <div class="testimonial-person-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-info-->
                        <div class="testimonial-comment">
                            <p>
                               Dịch vụ nhanh chóng và dễ sử dụng.Chỉ 15' là đã có ,tôi thậm chí còn chưa pha xong ly cafe.
                            </p>
                        </div><!--/.testimonial-comment-->
                    </div><!--/.testimonial-description-->
                </div><!--/.single-testimonial-box-->
                <div class="single-testimonial-box">
                    <div class="testimonial-description">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="~/temp/images/clients/c2.png" alt="clients">
                            </div><!--/.testimonial-img-->
                            <div class="testimonial-person">
                                <h2>Morris Islam</h2>
                                <h4>Wales, UK</h4>
                                <div class="testimonial-person-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-info-->
                        <div class="testimonial-comment">
                            <p>
                                Dù tôi đặt đồ ăn ngoài quán cafe nhưng đồ ăn đến trước khi ghế ngồi kịp nóng.
                        </div><!--/.testimonial-comment-->
                    </div><!--/.testimonial-description-->
                </div><!--/.single-testimonial-box-->
                <div class="single-testimonial-box">
                    <div class="testimonial-description">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="~/temp/images/clients/ando.jfif" alt="clients">
                            </div><!--/.testimonial-img-->
                            <div class="testimonial-person">
                                <h2>Askan Rahul </h2>
                                <h4>Mumbai,India</h4>
                                <div class="testimonial-person-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    
                                </div>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-info-->
                        <div class="testimonial-comment">
                            <p>
                                Đồ ăn được giao nhanh nhưng bị đổ một chút.
                            </p>
                        </div><!--/.testimonial-comment-->
                    </div><!--/.testimonial-description-->
                </div><!--/.single-testimonial-box-->
                <div class="single-testimonial-box">
                    <div class="testimonial-description">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="~/temp/images/clients/coduc.png" alt="clients">
                            </div><!--/.testimonial-img-->
                            <div class="testimonial-person">
                                <h2>Miller Mays</h2>
                                <h4>Berlin, Germany</h4>
                                <div class="testimonial-person-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-info-->
                        <div class="testimonial-comment">
                            <p>
                               Đồ ăn vẫn nóng lúc được giao tới và có vị rất ngon.
                            </p>
                        </div><!--/.testimonial-comment-->
                    </div><!--/.testimonial-description-->
                </div><!--/.single-testimonial-box-->
                <div class="single-testimonial-box">
                    <div class="testimonial-description">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="~/temp/images/clients/phap.jfif" alt="clients">
                            </div><!--/.testimonial-img-->
                            <div class="testimonial-person">
                                <h2>Frank Josep</h2>
                                <h4>Normandy, France</h4>
                                <div class="testimonial-person-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-info-->
                        <div class="testimonial-comment">
                            <p>
                               Đồ ăn rất tuyệt.
                            </p>
                        </div><!--/.testimonial-comment-->
                    </div><!--/.testimonial-description-->
                </div><!--/.single-testimonial-box-->
                <div class="single-testimonial-box">
                    <div class="testimonial-description">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="~/temp/images/clients/my.jfif" alt="clients">
                            </div><!--/.testimonial-img-->
                            <div class="testimonial-person">
                                <h2>Ben Baker</h2>
                                <h4>Texas, UN</h4>
                                <div class="testimonial-person-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-info-->
                        <div class="testimonial-comment">
                            <p>
                               Đồ ăn rất ngon nhưng khẩu phần nhỏ quá.
                            </p>
                        </div><!--/.testimonial-comment-->
                    </div><!--/.testimonial-description-->
                </div><!--/.single-testimonial-box-->
                <div class="single-testimonial-box">
                    <div class="testimonial-description">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="~/temp/images/clients/canada.jfif" alt="clients">
                            </div><!--/.testimonial-img-->
                            <div class="testimonial-person">
                                <h2>Alice Vaugh</h2>
                                <h4>Vancouver, Canada</h4>
                                <div class="testimonial-person-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-info-->
                        <div class="testimonial-comment">
                            <p>
                                Đồ ăn được giao nhanh chóng và vẫn còn nóng.
                            </p>
                        </div><!--/.testimonial-comment-->
                    </div><!--/.testimonial-description-->
                </div><!--/.single-testimonial-box-->
                <div class="single-testimonial-box">
                    <div class="testimonial-description">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="~/temp/images/clients/nga.jfif" alt="clients">
                            </div><!--/.testimonial-img-->
                            <div class="testimonial-person">
                                <h2>Elisabeth Sonya</h2>
                                <h4>Lennigrad,Russia</h4>
                                <div class="testimonial-person-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-info-->
                        <div class="testimonial-comment">
                            <p>
                                Đồ ăn thật đậm đà và hài hoà giữa thịt với rau củ.
                            </p>
                        </div><!--/.testimonial-comment-->
                    </div><!--/.testimonial-description-->
                </div><!--/.single-testimonial-box-->
            </div>
        </div>
    </section><!--/.reviews-->
    <!--reviews end -->
    <!-- statistics strat -->
    <section id="statistics" class="statistics">
        <div class="container">
            <div class="statistics-counter">
                <div class="col-md-3 col-sm-6">
                    <div class="single-ststistics-box">
                        <div class="statistics-content">
                            <div class="counter">40 </div> <span>K+</span>
                        </div><!--/.statistics-content-->
                        <h3>Đơn đã giao</h3>
                    </div><!--/.single-ststistics-box-->
                </div><!--/.col-->
                <div class="col-md-3 col-sm-6">
                    <div class="single-ststistics-box">
                        <div class="statistics-content">
                            <div class="counter">5</div> <span>k+</span>
                        </div><!--/.statistics-content-->
                        <h3>Món ăn đang chờ bạn</h3>
                    </div><!--/.single-ststistics-box-->
                </div><!--/.col-->
                <div class="col-md-3 col-sm-6">
                    <div class="single-ststistics-box">
                        <div class="statistics-content">
                            <div class="counter">50</div> <span>k+</span>
                        </div><!--/.statistics-content-->
                        <h3>Người đã ghé</h3>
                    </div><!--/.single-ststistics-box-->
                </div><!--/.col-->
                <div class="col-md-3 col-sm-6">
                    <div class="single-ststistics-box">
                        <div class="statistics-content">
                            <div class="counter">5</div> <span>k+</span>
                        </div><!--/.statistics-content-->
                        <h3>Khách thường xuyên</h3>
                    </div><!--/.single-ststistics-box-->
                </div><!--/.col-->
            </div><!--/.statistics-counter-->
        </div><!--/.container-->
    </section><!--/.counter-->
    <!-- statistics end -->
    <!--blog start -->
    <section id="blog" class="blog">
        <div class="container">
            <div class="section-header">
                <h2>CÙNG XEM</h2>
                <p>Những người đồng hành cùng chúng mình </p>
            </div><!--/.section-header-->
            <div class="blog-content">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-blog-item">
                            <div class="single-blog-item-img">
                                <img src="~/temp/Shop/sh.jfif" alt="Hình cửa hàng">
                            </div>
                            <div class="single-blog-item-txt">
                                <h2><a href="#">Cửa hàng bánh mì Á-Âu Lusch</a></h2>
                                <h4>203,<span>Dương Quảng Hàm,</span> <a href="#">p5</a>Gò Vấp</h4>
                                <p>
                                   Bánh mì,sandwich,hay kebap,...Bạn muốn gì nào.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-blog-item">
                            <div class="single-blog-item-img">
                                <img src="~/temp/Shop/sh2.jfif" alt="Hình cửa hàng">
                            </div>
                            <div class="single-blog-item-txt">
                                <h2><a href="#">Mì xào Thanh Thanh</a></h2>
                                <h4>78, <span>Lý Thường Kiệt,</span> <a href="#">P6,</a> Tân Bình</h4>
                                <p>
                                    Topping và nhiều loại sốt đa dạng mong bạn ghé.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-blog-item">
                            <div class="single-blog-item-img">
                                <img src="~/temp/Shop/sh1.jfif" alt="blog image">
                            </div>
                            <div class="single-blog-item-txt">
                                <h2><a href="#">FastFood LT</a></h2>
                                <h4>62, <span>3/2,</span> <a href="#">p8,</a> Quận 10</h4>
                                <p>
                                   Tận tâm phục vụ, chất lượng là tốt nhất.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/.blog-->
    <!--blog end -->
    <!--subscription strat -->
    <section id="contact" class="subscription">
        <div class="container">
            <div class="subscribe-title text-center">
                <h2>
                    Bạn muốn tham gia cùng chúng mình sao?
                </h2>
                <p>
                   Hoan nghênh bạn gia nhập đại gia đình của chúng mình.
                </p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="subscription-input-group">
                        <form action="#">
                            <input type="email" class="subscription-input-form" placeholder="Cho tụi mình biết email của bạn nhé">
                            <button class="appsLand-btn subscribe-btn" onclick="window.location.href='#'">
                                Gửi
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/subscription-->
    <!--subscription end -->
    <!--footer start-->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="footer-menu">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="index.html">TP<span>Food</span></a>
                        </div><!--/.navbar-header-->
                    </div>
                    <div class="col-sm-9">
                        <ul class="footer-menu-item">
                            <li class="scroll"><a href="#works">Cách vận hành</a></li>
                            <li class="scroll"><a href="#explore">Về chúng mình</a></li>
                            <li class="scroll"><a href="#reviews">Trở thành tài xế</a></li>
                            <li class="scroll"><a href="#contact">Trung tâm hỗ trợ</a></li>
                            <li class=" scroll"><a href="#contact">Câu hỏi thường gặp</a></li>
                        </ul><!--/.nav -->
                    </div>
                </div>
            </div>
            <div class="hm-footer-copyright">
                <div class="row">
                    <div class="col-sm-5">
                        <p>
                            &copy;copyright. designed and developed by <a href="https://www.themesine.com/">themesine</a>
                        </p><!--/p-->
                    </div>
                    <div class="col-sm-7">
                        <div class="footer-social">
                            <span><i class="fa fa-phone"> +1  (222) 777 8888</i></span>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--/.hm-footer-copyright-->
        </div><!--/.container-->
        <div id="scroll-Top">
            <div class="return-to-top">
                <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
            </div>
        </div><!--/.scroll-Top-->
    </footer><!--/.footer-->
    <!--footer end-->
    <!-- Include all js compiled plugins (below), or include individual files as needed -->
    <script src="~/temp/js/jquery.js"></script>
    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <!--bootstrap.min.js-->
    <script src="~/temp/js/bootstrap.min.js"></script>
    <!-- bootsnav js -->
    <script src="~/temp/js/bootsnav.js"></script>
    <!--feather.min.js-->
    <script src="~/temp/js/feather.min.js"></script>
    <!-- counter js -->
    <script src="~/temp/js/jquery.counterup.min.js"></script>
    <script src="~/temp/js/waypoints.min.js"></script>
    <!--slick.min.js-->
    <script src="~/temp/js/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!--Custom JS-->
    <script src="~/temp/js/custom.js"></script>
</body>
</html>